circleCard/node_modules
circleCard/.tmp
basicBarChart/barChart/.vscode/launch.json
basicBarChart/barChart/.vscode/settings.json
basicBarChart/barChart/node_modules
basicBarChart/barChart/.tmp
reactCircleCard/node_modules
reactCircleCard/.vscode/launch.json
reactCircleCard/.vscode/settings.json
